      body { 
        background: rgb(58, 62, 75);
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
      }

      a {
        color: white;
      }
      
      .container {
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        font-smoothing: antialiased !important;
      }

      .pad {
        padding: 10px;
        margin: 10px auto;
        text-align: center;
        align-items: center;
        border-radius: 4px;
        display: flex;
        height: 200px;
        justify-content: center;
        text-decoration: none;
        width: 200px;
        box-shadow: inset 0 0 20px rgba(0,0,0,0.2), 0 10px 15px rgba(0,0,0,0.2);
        transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        border: 1px solid rgba(255,255,255, 0.1)
      }

      .pad:hover, .stop:hover {
        position: relative;
        transform: scale(1.005);
        box-shadow: inset 0 0 20px rgba(0,0,0,0.2), 0 15px 30px rgba(0,0,0,0.2);
        transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      }

      .pad:active, .stop:active {
        position: relative;
        transform: scale(0.995);
        box-shadow: inset 0 0 20px rgba(0,0,0,0.2), 0 5px 8px rgba(0,0,0,0.2);
        transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      }

      .stop {
        align-items: center;
        border-radius: 4px;
        display: flex;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        height: 100px;
        justify-content: center;
        margin: 10px 20px;
        text-decoration: none;
        box-shadow: inset 0 0 20px rgba(0,0,0,0.2), 0 10px 15px rgba(0,0,0,0.2);
        border: 1px solid rgba(255,255,255, 0.1)

      }

      /* PAD Colours */

      .mimosa {
        background: radial-gradient( #da9351, #d53369);
      }

      .aqua {
        background: radial-gradient( #00d2ff, #3a47d5);
      }

      .mellow {
        background: radial-gradient( #beff55, #3ad59f);
      }

      .cool {
        background-image: radial-gradient(  #5EFCE8 10%, #736EFE);
      }

      .salmon {
        background-image: radial-gradient( #feb692, #ea5455);
      }

      .burningOrange {
        background: radial-gradient( #e9705b, #ff416c); 
      }

      .moonlit {
        background: radial-gradient(  #2c5364, #0f2027); 
      }

      .coal {
        background: radial-gradient( #eb5757, #000000);
      }